# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file, and with same defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 120

[*.md]
max_line_length = 80

[*.{yml,yaml}]
indent_size = 2

[*.xml]
indent_size = 2
