/.editorconfig export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/CODE_OF_CONDUCT.md export-ignore
/config/ export-ignore
/phive.xml export-ignore
/phpcs.xml export-ignore
/psalm.baseline.xml export-ignore
/psalm.xml export-ignore
/tests/ export-ignore
/tools/ export-ignore
