parameters:
	ignoreErrors:
		-
			message: "#^Method Pelago\\\\Emogrifier\\\\CssInliner\\:\\:getAllNodesWithStyleAttribute\\(\\) return type with generic class DOMNodeList does not specify its types\\: TNode$#"
			count: 1
			path: src/CssInliner.php

		-
			message: "#^Parameter \\#1 \\$html of method Pelago\\\\Emogrifier\\\\HtmlProcessor\\\\AbstractHtmlProcessor\\:\\:removeSelfClosingTagsClosingTags\\(\\) expects string, string\\|false given\\.$#"
			count: 2
			path: src/HtmlProcessor/AbstractHtmlProcessor.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/HtmlProcessor/AbstractHtmlProcessor.php

		-
			message: "#^Method Pelago\\\\Emogrifier\\\\HtmlProcessor\\\\CssToAttributeConverter\\:\\:getAllNodesWithStyleAttribute\\(\\) return type with generic class DOMNodeList does not specify its types\\: TNode$#"
			count: 1
			path: src/HtmlProcessor/CssToAttributeConverter.php

		-
			message: "#^Method Pelago\\\\Emogrifier\\\\HtmlProcessor\\\\CssToAttributeConverter\\:\\:getAllNodesWithStyleAttribute\\(\\) should return DOMNodeList but returns DOMNodeList\\<DOMNode\\>\\|false\\.$#"
			count: 1
			path: src/HtmlProcessor/CssToAttributeConverter.php

		-
			message: "#^Argument of an invalid type DOMNodeList\\<DOMNode\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/HtmlProcessor/HtmlPruner.php

		-
			message: "#^Cannot access property \\$length on DOMNodeList\\<DOMNode\\>\\|false\\.$#"
			count: 1
			path: src/HtmlProcessor/HtmlPruner.php

		-
			message: "#^Method Pelago\\\\Emogrifier\\\\HtmlProcessor\\\\HtmlPruner\\:\\:removeClassAttributeFromElements\\(\\) has parameter \\$elements with generic class DOMNodeList but does not specify its types\\: TNode$#"
			count: 1
			path: src/HtmlProcessor/HtmlPruner.php

		-
			message: "#^Method Pelago\\\\Emogrifier\\\\HtmlProcessor\\\\HtmlPruner\\:\\:removeClassesFromElements\\(\\) has parameter \\$elements with generic class DOMNodeList but does not specify its types\\: TNode$#"
			count: 1
			path: src/HtmlProcessor/HtmlPruner.php

		-
			message: "#^Parameter \\#1 \\$elements of method Pelago\\\\Emogrifier\\\\HtmlProcessor\\\\HtmlPruner\\:\\:removeClassAttributeFromElements\\(\\) expects DOMNodeList, DOMNodeList\\<DOMNode\\>\\|false given\\.$#"
			count: 1
			path: src/HtmlProcessor/HtmlPruner.php

		-
			message: "#^Parameter \\#1 \\$elements of method Pelago\\\\Emogrifier\\\\HtmlProcessor\\\\HtmlPruner\\:\\:removeClassesFromElements\\(\\) expects DOMNodeList, DOMNodeList\\<DOMNode\\>\\|false given\\.$#"
			count: 1
			path: src/HtmlProcessor/HtmlPruner.php

		-
			message: "#^Property object\\{media\\: string, ruleBlocks\\: array\\<int, object\\{selectorsAsKeys\\: array\\<string, \\(int\\|string\\)\\>, declarationsBlock\\: string\\}\\>\\}\\:\\:\\$ruleBlocks is not writable\\.$#"
			count: 1
			path: src/Utilities/CssConcatenator.php

		-
			message: "#^Property object\\{selectorsAsKeys\\: array\\<string, \\(int\\|string\\)\\>, declarationsBlock\\: string\\}\\:\\:\\$declarationsBlock is not writable\\.$#"
			count: 1
			path: src/Utilities/CssConcatenator.php

		-
			message: "#^Property object\\{selectorsAsKeys\\: array\\<string, \\(int\\|string\\)\\>, declarationsBlock\\: string\\}\\:\\:\\$selectorsAsKeys is not writable\\.$#"
			count: 1
			path: src/Utilities/CssConcatenator.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Unit/CssInlinerTest.php

		-
			message: "#^Parameter \\#1 \\$string of function strtolower expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Unit/HtmlProcessor/AbstractHtmlProcessorTest.php

		-
			message: "#^Parameter \\#2 \\$actual of static method Pelago\\\\Emogrifier\\\\Tests\\\\Unit\\\\HtmlProcessor\\\\AbstractHtmlProcessorTest\\:\\:assertEqualsHtml\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Unit/HtmlProcessor/AbstractHtmlProcessorTest.php
