includes:
  - phpstan-baseline.neon

parameters:
  level: 9

  paths:
    - %currentWorkingDirectory%/src/
    - %currentWorkingDirectory%/tests/

  ignoreErrors:
    -
      message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) .* will always evaluate to#'
      path: '%currentWorkingDirectory%/tests/'
