parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$matches of method Pelago\\Emogrifier\\CssInliner\:\:replaceUnmatchableNotComponent\(\) expects array\<string\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/CssInliner.php

		-
			message: '#^Parameter \#1 \$name of method Pelago\\Emogrifier\\Utilities\\DeclarationBlockParser\:\:normalizePropertyName\(\) expects non\-empty\-string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/CssInliner.php

		-
			message: '#^Parameter \#1 \$oldnode of method DOMNode\:\:removeChild\(\) expects TNode of DOMNode, DOMNameSpaceNode\|DOMNode given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/CssInliner.php

		-
			message: '#^Parameter \#1 \$html of method Pelago\\Emogrifier\\HtmlProcessor\\AbstractHtmlProcessor\:\:removeSelfClosingTagsClosingTags\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 2
			path: ../src/HtmlProcessor/AbstractHtmlProcessor.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 2
			path: ../src/HtmlProcessor/AbstractHtmlProcessor.php

		-
			message: '#^PHPDoc tag @var with type array\<int, string\> is not subtype of native type list\<string\>\|false\.$#'
			identifier: varTag.nativeType
			count: 1
			path: ../src/HtmlProcessor/CssToAttributeConverter.php

		-
			message: '#^Parameter \#2 \$callback of function Safe\\preg_replace_callback expects callable\(array\)\: string, Closure\(array\<int, string\>\)\: string given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/HtmlProcessor/CssVariableEvaluator.php

		-
			message: '#^Argument of an invalid type DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: ../src/HtmlProcessor/HtmlPruner.php

		-
			message: '#^Cannot access property \$length on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: property.nonObject
			count: 1
			path: ../src/HtmlProcessor/HtmlPruner.php

		-
			message: '#^Cannot call method removeChild\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: ../src/HtmlProcessor/HtmlPruner.php

		-
			message: '#^Mixed variable in a `\$parentNode\-\>\.\.\.\(\)` can skip important errors\. Make sure the type is known$#'
			identifier: typePerfect.noMixedMethodCaller
			count: 1
			path: ../src/HtmlProcessor/HtmlPruner.php

		-
			message: '#^Parameter \#1 \$array of method Pelago\\Emogrifier\\Utilities\\ArrayIntersector\:\:intersectWith\(\) expects array\<\(int\|string\)\>, list given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/HtmlProcessor/HtmlPruner.php

		-
			message: '#^Property object\{media\: string, ruleBlocks\: list\<object\{selectorsAsKeys\: array\<string, \(int\|string\)\>, declarationsBlock\: string\}\>\}\:\:\$ruleBlocks is not writable\.$#'
			identifier: assign.propertyReadOnly
			count: 1
			path: ../src/Utilities/CssConcatenator.php

		-
			message: '#^Property object\{selectorsAsKeys\: array\<string, \(int\|string\)\>, declarationsBlock\: string\}\:\:\$declarationsBlock is not writable\.$#'
			identifier: assign.propertyReadOnly
			count: 1
			path: ../src/Utilities/CssConcatenator.php

		-
			message: '#^Property object\{selectorsAsKeys\: array\<string, \(int\|string\)\>, declarationsBlock\: string\}\:\:\$selectorsAsKeys is not writable\.$#'
			identifier: assign.propertyReadOnly
			count: 1
			path: ../src/Utilities/CssConcatenator.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: ../tests/Support/Constraint/CssConstraint.php

		-
			message: '''
				#^@dataProvider provideInvalidNonConditionalAtRuleWhichCausesException

				Invalid related method not found\.$#
			'''
			identifier: phpunit.dataProviderMethod
			count: 1
			path: ../tests/Unit/Css/CssDocumentTest.php

		-
			message: '#^Parameter \#1 \$str of function trim expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: ../tests/Unit/CssInlinerTest.php

		-
			message: '#^Parameter \#1 \$str of function strtolower expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: ../tests/Unit/HtmlProcessor/AbstractHtmlProcessorTest.php

		-
			message: '#^Parameter \#2 \$actual of static method Pelago\\Emogrifier\\Tests\\Unit\\HtmlProcessor\\AbstractHtmlProcessorTest\:\:assertEqualsHtml\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: ../tests/Unit/HtmlProcessor/AbstractHtmlProcessorTest.php
